{% extends 'accounts/base.html'%} {% block content %} {%load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
    <style>

    </style>
</head>

<body>
    <section class="body-font">
        <div class="page-section nopadding cs-nomargin main-search-bar" style="padding-top: 200px; padding-bottom: 150px; margin-bottom: 0px; background: url({% static 'img/bg-image4.jpg' %}) no-repeat center / cover;">
            <div class="shope_titles">
                <h1>Join With Us To Save The Pets</h1>
                <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem ipsa ullam impedit.</small>
            </div>
            <div class="home_search">
                <form action="{% url 'search'%}" method="get">
                    <input class="home_input mt-2" type="text" name="rest_name" id="" placeholder="search place">
                    <input class="home_input mt-2" type="text" name="address" id="id_address" required placeholder="All Locations">
                    <input type="hidden" name="lat" value="" id="latitude">
                    <input type="hidden" name="lng" value="" id="longitude">
                    <select class="mt-2" style="width: 100px;" name="radius" id="radius" required>
                        <option  value="" >Choose Radius</option>
                        <option value="5">5KM</option>
                        <option value="10">10KM</option>
                        <option value="15">15KM</option>
                        <option value="20">20KM</option>
                        <option value="50">50KM</option>
                        <option value="75">75KM</option>
                        <option value="100">100KM</option>

                    </select>
                    <input class="home_botton mt-2" type="submit" value="search">
                </form>
            </div>
        </div>
        <div class="home_top_tag">
            <h1>Top Pet Shop</h1>
            <small>Above Are The best Pet shope and it has most cutest Pets</small>
        </div>
        <div class="home_profile" style=" padding: 20px; background: url({% static 'img/bg-image2.jpg' %}) no-repeat center / cover;;">
            {% for vendor in vendors %}

            <a href="#" class="mt-3">
                {% if vendor.user_profile.profile_picture %}
                <a class="mt-3" href="{% url 'vendor_detail' vendor.vendor_slug %}"><img src="{{vendor.user_profile.profile_picture.url }}" class="img-thumbnail" alt="..." style="max-width: 150px;"></a> {% else %}
            <img src="{% static 'img/default-profile.PNG' %}" class="img-thumbnail" alt="..." style="max-width: 150px;"> {% endif %}
            </a> {%endfor%}


        </div>
        <div class="home_top_tag">
            <h1>some of the nice pet donator</h1>
            <small>Above Are The best Pet donator and it has most cutest Pets</small>
        </div>
        <div class="home_vendor d-flex" style=" display: flex !important; background: url({% static 'img/bg-image5.jpg' %}) no-repeat center / cover;">
            <div class="d-flex" style="flex-wrap: wrap; justify-content: space-evenly;">
                {% for vendor in vendors %}
                <div class="">
                    <a href="#">
                        <div class="vendor_info">
                            {% if vendor.user_profile.profile_picture %}
                            <a href="{% url 'vendor_detail' vendor.vendor_slug %}"><img src="{{vendor.user_profile.profile_picture.url }}" class="img-thumbnail" alt="..." style="max-width: 150px;"></a> {% else %}
                            <img src="{% static 'img/default-profile.PNG' %}" class="img-thumbnail" alt="..." style="max-width: 150px;"> {% endif %}
                            <div>
                                <strong>{{vendor.vendor_name}}</strong>
                                <small>{{ vendor.user_profile.city }}, {{ vendor.user_profile.state }}, {{ vendor.user_profile.pin_code }}</small>
                            </div>


                        </div>

                    </a>
                </div>
                {% endfor %}

            </div>




        </div>



    </section>
</body>

{%endblock%}

</html>