{% extends 'accounts/base.html'%}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #card{
        background-color:aliceblue;
        margin-right: auto;
        margin-top: 4cm;
        margin-bottom: 6cm;
        box-shadow: -7px 6px 8px #b4adad5c;
        }

    #btn{
        margin-bottom: 11px;
        margin-top: 8px;
        margin-left: 5px;
        margin-right: auto;
        background:#2800e9;
    }




    </style>
</head>
<body>
<div id="card" class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
    <form action="" method="post">
        {% csrf_token%}
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Reset Password</h2>
        <div class="relative mb-4">
            <label class="leading-7 text-sm text-black-600">Password</label>
            <input type="password" name="password" placeholder="password"
                   class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
            <label class="leading-7 text-sm text-black-600">Conform Password</label>
            <input type="password" name="conform_password" placeholder="Conform password"
                   class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <input id="btn" type="submit" value="Reset" class="btn btn-primary">

    </form>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% include 'include/alert.html'%}
        </div>
    </div>
</div>

</body>
</html>

{% endblock%}