/* utils styles starts */

.d_flex {
    display: flex;
    flex-wrap: wrap;
}

.b_radius {
    border-radius: 8px;
}


/* utils styles ends */

.home_search {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(9, 124, 17, 0.825);
    height: 75px;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 10px;
}

.home_search .home_input,
select {
    height: 50px;
    width: 425px;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}

.home_botton {
    height: 50px;
    width: 150px;
    border-radius: 8px;
    background: #7e7b7b;
    color: #fffdf8;
    font-size: 1.3rem;
    font-weight: 500;
}

.home_profile {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    /* background-color: rgba(9, 124, 17, 0.538); */
}

.home_search,
.home_profile {
    max-width: 1146px;
    margin: auto;
    border-radius: 8px;
}

.home_vendor {
    display: flex !important;
    /* flex-direction: column; */
    justify-content: center;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    /* height: 400px; */
}

.home_vendor .vendor_info {
    background-color: white;
    border: 1px solid rgb(243, 236, 236);
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: 6px 6px;
    padding: 6px;
}

.home_vendor .vendor_info img {
    height: 100px;
}

.home_vendor .vendor_info div {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.home_top_tag {
    margin-top: 1cm;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    margin: 10px auto;
}

.home_top_tag h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: bold;
}

.home_top_tag small {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: 300;
}

.shope_titles {
    color: white;
    padding-bottom: 2cm;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.shope_titles h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: bolder;
}

.shope_titles small {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: bolder;
}


/* mobile styles starts */

@media (max-width: 480px) {
    .shope_titles {
        margin-top: -122px;
        padding: 20px;
        margin-bottom: 40px;
    }
    .home_search {
        width: 365px;
        padding: 20px;
        height: 175px;
    }
    .home_search form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .home_search input {
        width: 300px !important;
        height: 30px !important;
    }
    .home_search .home_botton {
        width: 150px !important;
        height: 30px;
    }
    .home_profile {
        height: 420px;
    }
    .vendor_info {
        width: 335px !important;
        box-sizing: border-box;
    }
    .home_vendor {
        height: none;
    }
}


/* mobile styles ends */