<!DOCTYPE html> {%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/nav.css'%}">

    <style>

    </style>
</head>

<body>
    <nav class="d_flex">
        <div class="nav_start d_flex">
            <div class="logo mr-2">
                <a href="{% url 'home' %}">
                    <img src="{%static 'logo/logo2.png'%}" alt="LOGO" width="200">
                </a>
            </div>
            <div class="nav_search ">
                <form action="" method="get" class="d_flex">
                    <input type="search" name="" id="" class="b_radius mr-2 pl-2" placeholder="search...">
                    <button type="submit" class="btn btn-outline-success ">search</button>
                </form>
            </div>
        </div>
        <div class="nav_center">
            <a href="{% url 'adoption' %}" class="btn btn-outline-danger btn-sm">ADOPT</a>
        </div>
        <div class="nav_end">
            <ul class=" mb-2 mb-lg-0 text-uppercase">
                <div class="d_flex">
                    {% if user.is_authenticated%}
                    <div>
                        <a href="{% url 'cart'%}" style="margin-top: 1px;">
                            <i class="fa fa-shopping-basket text- nav-item" style="font-size: 20px; color: rgb(127, 91, 13);"></i>
                            <span class="badge badge-warning" id="cart_counter" style="color:black; background-color:#ffc107; border-radius: 60px; position: relative; bottom: 10px; left: -5px;">{{cart_count}}</span> </a>
                    </div>
                    {%endif%}
                    <div class=" d_flex">
                        <div>
                            <a class="btn btn-sm btn-outline-success ml-2" href="{% url 'marketplace' %}">marketplace</a> {% if user.is_authenticated%}
                        </div>
                        <div>
                            <a id="pro" href="{% url 'account'%}" class=" mr-5">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                        </div>

                    </div>



                    {%else%}
                </div>
                <div class="d_flex">
                    <div>
                        <a class="btn btn-sm" href="{% url 'login'%}"><i class="fa fa-user" aria-hidden="true" style="font-size: x-large;margin-left: 10px;"></i></a>
                    </div>
                    <div class="mr-2">
                        <a class="btn btn-sm btn-outline-success" aria-current="page" href="{% url 'registerUser' %}">Register</a>
                    </div>
                    <div>
                        <a class="btn btn-sm btn-outline-success " aria-current="page" href="{% url 'registerVendor' %}" style="width: 160px;">Register Vendor</a> {%endif%}
                    </div>
                </div>
            </ul>
        </div>

    </nav>
</body>

</html>